#main {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align: center;
  }
  
  #main div {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    height: 50px;
  }

  #home-div{
    background-color:coral;
  }
  #map-div{
    background-color:blue;
  }
  #events-div{
    background-color:yellow;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    height: 80%;
  }